.about__logo{
    text-align: center;
 img{
    max-width: 100%;
    max-height: 100%;
 }
}
.about__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__vision{
    padding-bottom:20px;
}
#services,#features,#clients,#counts,#pricing,#faq,.dropdown,#faq,.social-links{
    display:none;
}
.about .content .btn-learn-more{
      
    flex-grow: 0;
    width: 30%;
    text-align: center;
}
.contact .info {
    width: 100%;
    background: #0f0f0f;
   
}
#footer,.about__quote{
    color:#ffb400;
}
.section-title p.about__quote{
    color:#ffb400;
    font-style: italic;
}
.contact .php-email-form {
    margin-top: 20px;
    background: #ffffff00;
    min-height: 400px;
}
.register-form{
    display: none;
}
.btn.gmail{
    background-color: #fff;
    color:#ff0000;
  }
  